.hero {
  position: relative;
}

.hero-text {
  width: 35rem;
  position: absolute;
  top: 10rem;
  color: #31572c;
  right: 2rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  text-align: center;
}

.hero-text h1 {
  font-size: 2.5rem;
}

.hero-text p {
  font-size: 1.2rem;
}

.hero-img img {
  width: 100%;
  height: auto;
  z-index: -5;
}

/******************* info section ********************/

.container {
  display: flex;
  padding: 2rem;
  gap: 2rem;
}

.info h2,
p {
  text-align: center;
  color: #31572c;
}