@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.body {
  background-color: #e7efe8;
  height: 45rem;
}

.prompt-heading {
  justify-content: center;
  padding: 2rem 0;
}

.prompt-heading h2 {
  color: #31572c;
  font-size: 1.8rem;
  text-align: center;
  text-decoration: underline;
}

.main {
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.input,
.output {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.input h3,
.output h3 {
  color: #31572c;
  font-size: 1.5rem;
}

textarea {
  border-radius: 10px;
  border-color: #31572c;
  padding: 1rem;
}

button {
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #31572c;
  cursor: pointer;
}

button:hover {
  background-color: #6a994e;
}